<ion-header>
  <ion-toolbar color="dark"> 
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title><h6> Recuperar Senha</h6></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="enviaEmail()">
        <br><br>
      <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input required="true" name="email" clearInput type="email" [(ngModel)]="recSenha.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button type="ngSubmit" color="dark" class="b3"  [routerDirection]="'root'" [routerLink]="['/login']">
            <h6>Enviar</h6>
          </ion-button>
        </ion-item>
      
    
      </form>
</ion-content>
