<ion-header>
  <ion-toolbar color="dark"> 
      <ion-buttons slot="start">
          <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
    <ion-title><h6> Recuperar Senha</h6></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <br><br>
      <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input clearInput type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button color="dark" class="b3">
            <h6>Enviar</h6>
          </ion-button>
        </ion-item>
      
    
      </form>
</ion-content>
