.elemento{
    margin-left : 120px;
    //margin-top: 200px;

}
#nome{
    margin-left: 100px;
    margin-top:30px;
}

.divs{
    background-color: brown;
    height: 100%;
    
}

.b3{
  width:200px;
  height:50px;
  padding-left:0px;
}