<ion-header>
    
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <h6 class="textoTitulo">Login</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="container" >
<div class="login">
    <form class=container>
        <ion-radio-group>
            <ion-item> 
                <ion-label>Doador</ion-label>
              <ion-radio value="Hospital"  ></ion-radio>
              <ion-radio  slot="start" value="Doador" checked></ion-radio>
              <ion-label>Hospital</ion-label>
              </ion-item>
            </ion-radio-group>
      
      <ion-item>   
          <ion-label position="floating">E-mail</ion-label>
        <ion-input id="email" clearInput type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input id="senha" clearInput type="password"></ion-input>
      </ion-item>

         <ion-button  (click)="exibir()">
          <h6>Acessar</h6>
        </ion-button>
    
        
    </form>
  </div>
  </div>

</ion-content>

