<ion-header>
    
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <h6>Login</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="container" >
<div class="login">
    <form class=container>
        <ion-radio-group>
            <ion-item> 
              <ion-label>Doador</ion-label>
              <ion-radio value="Hospital"  ></ion-radio>
              <ion-radio  slot="start" value="Doador" checked></ion-radio>
              <ion-label style="padding-left: 20px">Hospital</ion-label>
              </ion-item>
        </ion-radio-group>
      
      <ion-item  style="margin-top: 20px">   
          <ion-label position="floating">E-mail</ion-label>
        <ion-input id="email" clearInput type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input id="senha" clearInput type="password"></ion-input>
      </ion-item>
  <br><br>
      <ion-item>
          <ion-button color="dark" class="b3">
            <h6>Acessar</h6>
          </ion-button>
        </ion-item>
        <br><br>
        <ion-item>
 <ion-button color="dark" class="b3"  [routerDirection]="'root'" [routerLink]="['/recuperar-senha']"><h6>Esqueceu a Senha?</h6></ion-button >
          </ion-item>
    
        
    </form>
  </div>
  </div>

</ion-content>

