
<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title > <h6>Visualizar por Sangue</h6></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<!--<ion-icon name="arrow-round-back" onclick="history.go(-1)"></ion-icon>
<input type="button" value="Avançar" onclick="history.forward()">
<input type="button" value="Atualizar" onclick="history.go(0)">-->

<ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-card *ngFor="let doador of doadores">
        <ion-list>
        <ion-item>
                <h4>{{doador.nome}}</h4>          
          </ion-item>
        </ion-list>
    </ion-card>
</ion-toolbar>

</ion-content>
