
<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title class="titulo" > <h6 class="textoTitulo" >Visualizar por Sangue</h6></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<!--<ion-icon name="arrow-round-back" onclick="history.go(-1)"></ion-icon>
<input type="button" value="Avançar" onclick="history.forward()">
<input type="button" value="Atualizar" onclick="history.go(0)">-->

<ion-toolbar>
    <ion-searchbar></ion-searchbar>
</ion-toolbar>
<ion-list>
    <ion-item>Amsterdam</ion-item>
    <ion-item>Bogota</ion-item>
    <ion-item>Buenos Aires</ion-item>
    <ion-item>Cairo</ion-item>
    <ion-item>Dhaka</ion-item>
    <ion-item>Edinburgh</ion-item>
    <ion-item>Geneva</ion-item>
    <ion-item>Genoa</ion-item>
    <ion-item>Glasglow</ion-item>
    <ion-item>Hanoi</ion-item>
    <ion-item>Hong Kong</ion-item>
    <ion-item>Islamabad</ion-item>
    <ion-item>Istanbul</ion-item>
    <ion-item>Jakarta</ion-item>
    <ion-item>Kiel</ion-item>
    <ion-item>Kyoto</ion-item>
    <ion-item>Le Havre</ion-item>
    <ion-item>Lebanon</ion-item>
    <ion-item>Lhasa</ion-item>
    <ion-item>Lima</ion-item>
    <ion-item>London</ion-item>
    <ion-item>Los Angeles</ion-item>
    <ion-item>Madrid</ion-item>
    <ion-item>Manila</ion-item>
    <ion-item>New York</ion-item>
    <ion-item>Olympia</ion-item>
    <ion-item>Oslo</ion-item>
    <ion-item>Panama City</ion-item>
    <ion-item>Peking</ion-item>
    <ion-item>Philadelphia</ion-item>
    <ion-item>San Francisco</ion-item>
    <ion-item>Seoul</ion-item>
    <ion-item>Taipeh</ion-item>
    <ion-item>Tel Aviv</ion-item>
    <ion-item>Tokio</ion-item>
    <ion-item>Uelzen</ion-item>
    <ion-item>Washington</ion-item>
  </ion-list>
</ion-content>
