<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title class="titulo"> <h1 class="textoTitulo">Cadastro de Hospital</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-input placeholder="Nome do Hospital"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="Telefone"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="CNPJ"></ion-input>
    </ion-item>
    <ion-item>

      <ion-input placeholder="Senha"></ion-input>
    </ion-item>
  
    <ion-row class="linha">
      <ion-button class="b3" color="">
        <h4>Salvar</h4>
      </ion-button>
    </ion-row>


  </form>
</ion-content>
