<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">
      <h6 class="textoTitulo">Cadastro de Hospital</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nome do Hospital</ion-label>
      <ion-input clearInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input clearInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input clearInput type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input clearInput type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input clearInput type="password"></ion-input>
    </ion-item>

    <ion-row class="linha">
      <ion-button class="b3">
        <h6>Salvar</h6>
      </ion-button>
    </ion-row>


  </form>
</ion-content>