<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      <h6 >Cadastro de Hospital</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <form (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="floating">Nome do Hospital</ion-label>
      <ion-input [(ngModel)]="hospital.nome" name="nome" clearInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input [(ngModel)]="hospital.endereco" name="endereco" clearInput type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input [(ngModel)]="hospital.telefone" name="telefone" clearInput type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input [(ngModel)]="hospital.CNPJ" name="CNPJ" clearInput type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="hospital.email" name="email" clearInput type="email"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="hospital.senha" name="senha" clearInput type="password"></ion-input>
    </ion-item>
    
      <ion-item>
          <ion-label color="danger">Sangue Urgente</ion-label>
      </ion-item>
        
    <ion-item> 
        <ion-checkbox [(ngModel)]="hospital.sAp" name="sAp"></ion-checkbox>
        <ion-label> A+</ion-label>
        <ion-checkbox checked [(ngModel)]="hospital.sAn" name="sAn"></ion-checkbox>
        <ion-label> A-</ion-label>
        <ion-checkbox checked [(ngModel)]="hospital.sBp" name="sBp"></ion-checkbox>
        <ion-label> B+</ion-label>
        <ion-checkbox checked [(ngModel)]="hospital.sBn"name="sBn"></ion-checkbox>
        <ion-label> B-</ion-label>
      </ion-item>
      <ion-item>
          <ion-checkbox checked [(ngModel)]="hospital.sABp" name="sABp"></ion-checkbox>
          <ion-label> AB+</ion-label>
          <ion-checkbox checked [(ngModel)]="hospital.sABn" name="sABn"></ion-checkbox>
          <ion-label> AB-</ion-label>
          <ion-checkbox checked [(ngModel)]="hospital.sOp" name="sOp"></ion-checkbox>
          <ion-label> O+</ion-label>
          <ion-checkbox checked [(ngModel)]="hospital.sOn" name="sOn"></ion-checkbox>
          <ion-label> O-</ion-label>
      </ion-item>
    
    
    <ion-item>
        <ion-button type="submit" color="dark" class="b3">
              <h6>Salvar</h6>
        </ion-button>
      </ion-item>
    </form>
</ion-content>